<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="RPM Editor" sequenceNumber="1467110734">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.6.0.v20160606-1342"/>
      <unit id="org.eclipse.emf.feature.group" version="2.12.0.v20160526-0356"/>
      <repository location="http://download.eclipse.org/releases/neon"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
      <repository location="http://download.eclipse.org/cbi/updates/license/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150519210750/repository/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="bcpg" version="1.52.0"/>
      <unit id="bcprov" version="1.52.0"/>
      <unit id="com.google.guava" version="18.0.0"/>
      <unit id="org.apache.commons.compress" version="1.9.0"/>
      <unit id="org.eclipse.packagedrone.utils.rpm" version="0.13.0.20160518-1208"/>
      <unit id="org.tukani.xz" version="1.5.0.20151105-1627"/>
      <repository location="https://repository-ctron.rhcloud.com/p2/eclipse-rpm-editor-deps/"/>
    </location>
  </locations>
</target>
